.card {
  width: 540px;
  margin-bottom: 100px;
}

.card__title {
  margin: 0 auto 32px 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  border-bottom: solid thin;
  border-color: black;
}